@model IEnumerable<Lab6.Models.DataAccess.AcademicRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p> </p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a  asp-route-sortBy="sortCourse">
                    <!--Html.DisplayFor(model => model.CourseCodeNavigation)  -->
                    Course
                </a>

            </th>
            <th>
                <a asp-route-sortBy="sortSt">
                    Student
                </a>
                
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Grade)

            </th>
            <th>
                <a asp-action="EditAll">
                Edit All
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @*@Html.DisplayFor(modelItem => item.CourseCodeNavigation.Code) -
                @Html.DisplayFor(modelItem => item.CourseCodeNavigation.Title)*@
                @item.CourseCodeNavigation.Code - @item.CourseCodeNavigation.Title
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Student.Id) -
                @Html.DisplayFor(modelItem => item.Student.Name)*@
                @item.StudentId - @item.Student.Name
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Grade)*@
                @item.Grade
                @Html.ValidationMessage("Grade")
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                <!--- 上法不好 下法好-->
                <a asp-action="Edit" , asp-controller="AcademicRecords" asp-route-id="@item.Student.Id" asp-route-courseCode="@item.CourseCode">Edit</a>

            </td>
        </tr>
}
    </tbody>
</table>
