@model List<Lab6.Models.DataAccess.AcademicRecord>

@{
    ViewData["Title"] = "EditAll";
}

<h1>Edit</h1>

<h4>Academic Record</h4>
<hr />


<form method="post">

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-route-sortBy="course">Course</a>
                </th>
                <th>
                    <a asp-route-sortBy="student">Student</a>
                </th>
                <th>
                    Grade
                </th>
                <th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Model[i].CourseCode - @Model[i].CourseCodeNavigation.Title
                        <input type="hidden" asp-for="@Model[i].CourseCode" />
                    </td>
                    <td>
                        @Model[i].StudentId - @Model[i].Student.Name
                        <input type="hidden" asp-for="@Model[i].StudentId" />
                    </td>
                    <td>
                        <input asp-for="@Model[i].Grade" asp-route-courseId="@Model[i].CourseCode" asp-route-studentId="@Model[i].StudentId" class="form-control col-md-6" />
                    </td>
                    <td>
                        <span asp-validation-for="@Model[i].Grade" class="text-danger"></span>
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <div class="input-group m-10">
        <span class="input-group-btn input-space">
            <input type="submit" value="Save" class="btn btn-primary" />
            <input type="reset" value="Cancel" class="btn btn-secondary" />
        </span>
        
    </div>
    <br />

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
